*{
	box-sizing: border-box;
	font-family: comic sans ms;
	overflow: hidden;
}

h1{
	font-style: bold;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 30px;
}

h2{
	border: 1px solid #000000;
	margin:0px;
	padding: 0px;
	text-align: center;
	font-weight: bold;
	width: 20%;
	height: 30px;
	font-size: 16px;
	float: right;
}

.container{
	border: 2px solid #000000;
	background-color: #b4b4b4;
	height: 150px;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#p1{
	background-color: #ff6666;
}

#p2{
	background-color: #A52A2A;
	color: #ffffff;
}

#p3{
	background-color: #ffcc66;
}

p{
	font-size: 14px;
	padding: 10px;
	font-weight: bold;
	line-height: 1.8;
	clear: right;
}

.row{
	width: 100%;
}

/*------ For Larger Device (Desktop)-------- */
@media (min-width: 992px){.col-lg-1, .col-lg-2, .col-lg-3, 
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
	.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float: left;
	}

	.col-lg-1{
		width: 8.33%;
	}

	.col-lg-2{
		width: 16.66%;
	}

	.col-lg-3{
		width: 25%;
	}

	.col-lg-4{
		width: 33%;
	}

	.col-lg-5{
		width: 41.66%;
	}

	.col-lg-6{
		width: 50%;
	}

	.col-lg-7{
		width: 58.33%;
	}

	.col-lg-8{
		width: 66.66%;
	}

	.col-lg-9{
		width: 74.99%;
	}

	.col-lg-10{
		width: 83.33%;
	}

	.col-lg-11{
		width: 91.66%;
	}

	.col-lg-12{
		width: 100%;
	}
}

/*------- For Tablet Device -------------*/
@media (min-width: 768px) and (max-width: 991px){.col-td-1, 
	.col-td-2, .col-td-3, .col-td-4, .col-td-5, .col-td-6, 
	.col-td-7, .col-td-8, .col-td-9, .col-td-10, .col-td-11, 
	.col-td-12{
		float: left;
	}
	
	.col-td-1{
		width: 8.33%;
	}

	.col-td-2{
		width: 16.66%;
	}

	.col-td-3{
		width: 25%;
	}

	.col-td-4{
		width: 33%;
	}

	.col-td-5{
		width: 41.66%;
	}

	.col-td-6{
		width: 50%;

	}

	.col-td-7{
		width: 58.33%;
	}

	.col-td-8{
		width: 66.66%;
	}

	.col-td-9{
		width: 74.99%;
	}

	.col-td-10{
		width: 83.33%;
	}

	.col-td-11{
		width: 91.66%;
	}

	.col-td-12{
		width: 100%;
	}
}

/*---------- For Mobile Devices-------------*/
@media (max-width: 767px){.col-sd-1, .col-sd-2, .col-sd-3, 
	.col-sd-4, .col-sd-5, .col-sd-6, .col-sd-7, .col-sd-8,
	.col-sd-9, .col-sd-10, .col-sd-11, .col-sd-12{
		float: left;
	}

	.col-sd-1{
		width: 8.33%;
	}

	.col-sd-2{
		width: 16.66%;
	}

	.col-sd-3{
		width: 25%;
	}

	.col-sd-4{
		width: 33%;
	}

	.col-sd-5{
		width: 41.66%;
	}

	.col-sd-6{
		width: 50%;
	}

	.col-sd-7{
		width: 58.33%;
	}

	.col-sd-8{
		width: 66.66%;
	}

	.col-sd-9{
		width: 74.99%;
	}

	.col-sd-10{
		width: 83.33%;
	}

	.col-sd-11{
		width: 91.66%;
	}

	.col-sd-12{
		width: 100%;
	}
}

